# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings (optional)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment and config files
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db
